.widget.RlxSelect.MuiOutlinedInput-root.MuiInputBase-root {
	div.MuiSelect-select {
		font-family: var(--font-family);
		padding-top: 10px;
		padding-bottom: 10px;
	}

	fieldset {
		top: 0px;
		legend {
			display: none;
		}
	}
}

.widget.RlxSelect.MuiOutlinedInput-root.MuiInputBase-root.dark {
	&:hover:not(.Mui-disabled) {
		opacity: 0.8;
	}

	div.MuiSelect-select {
		color: white;
	}

	svg {
		color: white;
	}

	fieldset {
		border-color: var(--btn-border-color-outlined-1);
	}
}
