.widget.BackButton {
	.link {
		// flex
		display: flex;
		align-items: center;
		gap: 1rem;

		// font
		text-decoration: none;
		font-size: 15px;
		color: white;
		font-weight: bold;

		.label {
			font-family: var(--font-family);
		}
	}
}
