.widget.Modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--main-background);
	padding: 1rem 2rem;
	border-radius: 8px;
	max-width: 600px;
	min-width: 250px;
	max-height: 500px;
	overflow-y: auto;
	font-family: var(--font-family);
}

@media (max-width: 668px) {
	.widget.Modal {
		min-width: 350px;
	}
}

@media (max-width: 450px) {
	.widget.Modal {
		min-width: 90%;
	}
}
