.gadget.NavMenuItem {
	padding: 1rem 2rem;

	&:first-child {
		margin-top: 1rem;
	}

	&:last-child {
		margin-bottom: 1rem;
	}

	.label {
		font-size: 0.9rem;
		color: var(--color-black);
	}

	&:hover {
		background-color: unset;
	}

	&.Mui-focusVisible {
		background-color: unset;
	}
}

.gadget.NavMenuItem.dark {
	.label {
		color: var(--text-color-primary-d);
	}
}
