#Navbar {
	.nav-item {
		color: #555555;
		cursor: pointer;
		transition: color 200ms ease-in-out;
		@apply py-3;

		&.active,
		&:hover {
			color: #ffbc00;
		}
	}

	.nav-items {
		.nav-item {
			&:not(:last-child) {
				padding-right: 1rem;
				border-right: 1px solid black;
			}
		}
	}

	.menu-icon {
		svg {
			height: 1.25em;
			width: 1.25em;
			color: #222;
		}
	}

	.mobile-nav-menu {
		transition: height ease-in-out 0.5s;
		overflow-y: hidden;

		// Hide scrollbar
		&::-webkit-scrollbar {
			display: none;
		}
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */

		&.hide {
			height: 0px;
		}

		&.show {
			height: 500px;
			overflow-y: auto;
		}

		.mobile-nav-items {
			display: block !important;
			width: 100%;
			text-align: center;

			.nav-item {
				border-bottom: 1px solid var(--divider);

				&:hover {
					color: #ffbc00;
				}
			}
		}
	}
}
