.widget.OutlinedButton {
	/* Display */
	display: inline-block;

	// Typography
	font-size: 15px;
	color: #ffbc00;
	text-align: center;

	// Spacing
	padding: 8px 40px;

	// Animations
	transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

	border: 1px solid #ffbc00;

	background-color: transparent;

	svg {
		font-size: 20px;
	}

	&:hover {
		background-color: #ffbc00;
		color: white;
	}
}

.widget.OutlinedButton.small {
	border-radius: 5px;
	font-size: 12px;
	padding: 4px 15px;
}

.widget.OutlinedButton.medium {
	border-radius: 5px;
	font-size: 14px;
	padding: 6px 16px;
}
