.widget.CollageGridColumn {
	flex: 100%;
	max-width: 100%;
	@apply px-1;

	* {
		@apply mt-2;
		vertical-align: middle;
		width: 100%;
	}
}

@screen sm {
	.widget.CollageGridColumn {
		flex: 50%;
		max-width: 50%;
	}
}

@screen lg {
	.widget.CollageGridColumn {
		flex: 25%;
		max-width: 25%;
	}
}
