.RlxAccordion.NavMenuAccordion {
	&::before {
		content: none !important;
	}

	&.NavLink {
		background-color: unset !important;

		.MuiAccordionSummary-root {
			opacity: 1 !important;
		}

		.MuiAccordionSummary-expandIconWrapper {
			.MuiSvgIcon-root[data-testid='ExpandMoreIcon'] {
				display: none;
			}
		}
	}

	&:hover {
		.MuiAccordionSummary-root {
			opacity: 0.8 !important;
		}
	}

	.RlxAccordionSummary {
		.MuiAccordionSummary-content {
			.title:not(.override) {
				color: var(--color-black);
				font-family: var(--font-family);
				font-weight: bold;
				font-size: 1rem;
			}
		}

		.MuiAccordionSummary-expandIconWrapper {
			.MuiSvgIcon-root[data-testid='ExpandMoreIcon'] {
				color: var(--color-grey) !important;
			}
		}
	}

	.widget.RlxAccordionDetails.MuiAccordionDetails-root {
		.widget.InternalLink {
			.label {
				color: var(--color-black);
				font-family: var(--font-family);
				font-size: 1rem;
			}
		}
	}

	.nav-menu-accordion-item {
		&:hover {
			opacity: 0.8;
		}
	}
}

.RlxAccordion.NavMenuAccordion.dark {
	.RlxAccordionSummary {
		.MuiAccordionSummary-content {
			.title:not(.override) {
				color: var(--text-color-primary-d);
			}
		}

		.MuiAccordionSummary-expandIconWrapper {
			.MuiSvgIcon-root[data-testid='ExpandMoreIcon'] {
				color: var(--icon-filled-color-d) !important;
			}
		}
	}

	.widget.RlxAccordionDetails.MuiAccordionDetails-root {
		.widget.InternalLink {
			.label {
				color: var(--text-color-primary-d);
			}
		}
	}
}
